<DOCTYPE html>
<html lang="ja">
  <head>
  <meta charset="utf-8">
  <title>Nonbe</title>
  <meta name="description" content="旅先の酒造をめぐる人々を助けるWebサービス">
  <meta name="keywords" content="酒,酒造,旅">
  <link href="{{ asset('/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
  <link href="{{ asset('/bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet">
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Nonbe</a>
      </div>
    </div>
  </div>
  <div class="container">
    <footer>
      <p>&copy; Treasure2ndMA9-A 2013</p>
    </footer>
  </div>
  <script src="{{ asset('/js/jquery-2.0.0.js') }}"></script>
</body>
</html>
